*{
    
    margin: 0;
    padding: 0; 

    }
    #cover {
        background-image: url(./Images_new/bg11.jpg);
        background-size: cover;
        height: 100%;
        text-align: center;
        align-items: center;
        position: relative;
        padding-top: 5%;
    }
    .copyright {
        
        color: black;
        line-height: 20px;
        font-size: 1em;
        margin-left: 50%;
    }

.div { 
    box-sizing: border-box;
    width: 100%;
    border: 100px solid black;
    float: left;
    align-content: center;
    align-items: center;
}
   
.form {   
    margin: 0 auto;
    width: 600px;
}



