*{
    
    margin: 0;
    padding: 0; 

    }
    /* #cover {
        background-image: url(./Images_new/I3.jpg);
        background-size: cover;
        height: 100%;
        text-align: center;
        align-items: center;
        position: relative;
        padding-top: 5%;
    }-->*/

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50%;
        text-align: center;
        align-items: center;
        position: relative;
        padding-top: 5%;
    }
    
    input {
        height: 30px;
        border: 3px solid black
        border-radius: 5px;
        background: azure;
        color: black;
        text-align: center;
        outline: none;
        font-size: 15px;
    }
    
    .form-item-username {
        margin: 5px;
        display: flex;
        padding-bottom: 10px;
    }
    
    .form-item-username input {
        width: 150px;
        margin: 0 5px;
    }
    
    .form-item {
        margin: 0 auto;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .form-item input {
        margin: 5px;
        width: 100%;
    }
    
    .accept-box {
        display: flex;
        align-items: center;
        margin: auto;
        font-size: 15px;
    }
    
    a {
        color: white;
    }
    
    a:hover {
        color: grey
    }
    
    .form-btns {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    
    .form-btns button {
        margin: auto;
        font-size: 20px;
        padding: 8px;
        width: 280px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: rgb(75, 61, 61);
        background: #fbba50;
    }
    
    .form-btns button:disabled {
        cursor: not-allowed;
        background: #8f8b85 !important;
        color: rgb(131, 120, 120) !important;
    }
    
    .form-btns button:hover {
        background: #d88a0c;
        color: antiquewhite;
    }
    
    .options {
        padding-top: 15px;
        margin: auto;
        font-size: 13px;
    }
    
    p {
        font-size: 12px;
    }
    
    .pwd-format {
        position: relative;
        color: rgb(65, 62, 62);
        background: rgb(243, 234, 243);
        font-size: 11px;
        width: 150px;
        padding: 5px;
        border-radius: 5px;
        top: 112px;
        right: -81px;
        z-index: 2;
        display: none;
    }
    .copyright {
        
        color: black;
        line-height: 20px;
        font-size: 1em;
        margin-left: 50%;
    }